/* Общие стили */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* .visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
} */

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

/* Фоны и свойства body */

.general-body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: center top;
}

.general-body__slider1 {
  background-color: #849d8f;
  background-image: url("../img/general-slider__item--1.png");
}

.general-body__slider2 {
  background-color: #8996a6;
  background-image: url("../img/general-slider__item--2.png");
}

.general-body__slider3 {
  background-color: #9d8b84;
  background-image: url("../img/general-slider__item--3.png");
}

/* Основные кнопки */

.button {
  display: inline-block;
  height: 46px;
  margin: 0;
  margin-right: 8px;
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 11px;
  padding-left: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;

  background-color: #dc4e33;
  background-image: linear-gradient( to top, #e74b36 0%, #f26843 100%);
  border: none;
  border-radius: 24px;
  box-shadow: 0 2px 2px 0 #9e4334;;
}

.button:hover,
.button:focus {
  color: #fefefe;

  background-color: #f07a63;
  background-image: linear-gradient( to top, #ec6f5e 0%, #f58669 100%);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.button:active {
  color: #fceeec;

  background-color: #ac1000;
  background-image: linear-gradient( to top, #e1613e 0%, #d84732 100%);
  box-shadow: inset 0 2px 2px 0 #952718;
}

.button--primary {
  min-width: 24px;
  height: 46px;
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 11px;
  padding-left: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  border-radius: 24px;
}

.button--big {
  min-width: 40px;
  height: 63px;
  padding-top: 11px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 40px;
}

/* Шапка */

.general-header__link {
  display: inline-block;
}
.general-header__logo {
  width: 155;
  height: 65;
}

/*Главное меню */

.main-nav {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.main-nav__menu,
.main-nav__submenu,
.main-nav_item,
.main-nav__subitem {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__menu {
  position: relative;

  display: flex;

  line-height: 18px;
}

.main-nav__item,
.main-nav__link {
  color: #ffffff;
}


.main-nav__link {
  /* Подчеркивание */
  background-image: linear-gradient(to right, rgba(255,255,255,0.2), rgba(255,255,255,0.2) 50%);
  background-repeat: no-repeat;
  background-position: 14px 24px;
  background-size: calc(100% - 28px) 1px;
}

.main-nav__link {
  display: inline-block;
  width: auto;
  height: 32px;
  padding-top: 7px;
  padding-right: 14px;
  padding-bottom: 7px;
  padding-left: 14px;

  border-radius: 15px;
}

.main-nav__link--active {
  background-color: #d07058;
  background-image: none;
}

.main-nav__link:hover,
.main-nav__link:focus,
.main-nav__item:hover .main-nav__link {
  color: #333333;

  background-color: #f7f6f3;
  background-image: none;
}

.main-nav__link:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
  /*  */
}

.main-nav__link + .main-nav__submenu {
  visibility: hidden;
}

.main-nav__link:hover + .main-nav__submenu,
.main-nav__link:focus + .main-nav__submenu,
.main-nav__submenu:hover,
.main-nav__submenu:focus {
  visibility: visible;
}

/*Подменю */
.main-nav__submenu {
  position: absolute;

  font-weight: 400;
  font-size: 14px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.main-nav__subitem,
.main-nav__sublink {
  color: #323232;
  text-decoration: none;
}

.main-nav__sublink {
  display: block;
}

.main-nav__subitem:first-child .main-nav__sublink {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-nav__subitem:last-child .main-nav__sublink {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.main-nav__promoitem {
  font-weight: 700;
}

.main-nav__sublink--active {
  color: #ffffff;

  background-color: #d07058;
}

.main-nav__sublink:hover,
.main-nav__sublink:focus {
  color: #323232;

  background-color: #fbded7;
}

.main-nav__sublink:active {
  color: #323232;

  background-color: #f6b5a5;
}

/*Пользовательское меню */

.user-interface {
  display: flex;
}

.button--interface {
  min-width: 10px;
  height: 32px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 44px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  background-color: rgba(255,255,255,0.2);
  background-image: none;
  border-radius: 16px;
  box-shadow: none;
}

.button--interface:hover,
.button--interface:focus,
.button--interface:active,
.button--cart-active:hover,
.button--cart-active:focus,
.button--cart-active:active {
  color: #323232;

  background-color: #f8f7f4;
  box-shadow: none;
}

.button--search,
.button--login,
.button--cart,
.button--cart-active {
  background-repeat: no-repeat;
}

.button--login,
.button--cart,
.button--cart-active {
  background-position: 16px center;
}

.button--search {
  padding-left: 16px;

  font-size: 0;

  background-image: url("../img/button--search.svg");
  background-position: center center;
}

.button--search:hover,
.button--search:focus,
.button--search:active {
  background-image: url("../img/button--search--hover.svg");
}

.button--login {
  background-image: url("../img/button--login.svg");
}

.button--login:hover,
.button--login:focus,
.button--login:active {
  background-image: url("../img/button--login--hover.svg");
}

.button--cart,
.button--cart:hover,
.button--cart:focus,
.button--cart:active {
  color: inherit;

  background-color: rgba(255,255,255,0.2);
  background-image: url("../img/button--cart.svg");
  box-shadow: none;
}

.button--cart-active,
.button--cart-active:hover,
.button--cart-active:focus,
.button--cart-active:active {
  background-image: url("../img/button--cart--full.svg");
}

/* Режим работы */

.workhours {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.phone {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}

/* Слайдер */

.general-slider__item {
  /* visibility: hidden; */
}

.general-slider__item--active {
  visibility: visible;
}

.general-slider__item--1 {
  /* visibility: visible; */
}

.general-slider__item--2 {
  /* visibility: visible; */
}

.general-slider__item--3 {
  /* visibility: visible; */
}

.hero__slogan {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.slider-control {
  display: flex;
}

.button--slider,
.button--slider-active {
  width: 21px;
  height: 21px;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  background-image: none;
  border: 2px solid #ffffff;
  border-radius: 21px;
  box-shadow: none;
}

.button--slider:hover,
.button--slider:focus,
.button--slider-active:hover,
.button--slider-active:focus {
  background-color: rgba(248, 247, 244, 0.4);
  background-image: none;
  box-shadow: none;
}

.button--slider-active,
.button--slider:active,
.button--slider-active:active {
  background-color: #ffffff;
  background-image: none;
  box-shadow: none;
}

/* Акции */

.promo {
  display: flex;
}

.promo__item {
  width: 560px;
  height: 229px;

  font-weight: 700;

  background-repeat: no-repeat;
  border-radius: 12px;
}

.promo__item--1 {
  background-image: url("../img/promo__item--1.jpg");
}

.promo__item--2 {
  background-image: url("../img/promo__item--2.jpg");
}

.promo__title {
  font-size: 35px;
  line-height: 41px;
}

.promo__content {
  font-size: 18px;
  line-height: 22px;
}

/* Популярные товары */

.products_list,
.products__item {
  max-width: 267px;

  list-style: none;
}

.products__list {
  display: flex;
}

.products__item {
  border-radius: 5px;
}

.products__item:hover,
.products__item:focus {
  background-color: rgba(255, 255, 255,0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.products__item:hover > .visually-hidden.button--primary,
.products__item:focus > .visually-hidden.button--primary {
  position: unset;

  width: unset;
  height: 46px;
  margin: 0;
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 11px;
  padding-left: 24px;
  overflow: unset;

  white-space: unset;

  border: unset;

  clip: unset;
  clip-path: unset;
}

.products__link,
.products__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.products__icon {
  display: inline-block;
  width: 61px;
  height: 61px;

  font-size: 0;

  background-image: url("../img/products__icon.svg");
  background-repeat: no-repeat;
}

.products__image {
  max-width: 267px;
  max-height: 267px;

  border-radius: 50%;
}

.products__price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.products__kg {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.products__title {
  /* Подчеркивание */
  display: inline;

  background-image: linear-gradient(to right, rgba(255,255,255,0.2), rgba(255,255,255,0.2) 50%);
  background-repeat: repeat-x;
  background-position: 0 bottom;
  background-size: 1px 1px;
}
